
.inputs{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;


  justify-content: center;

  gap: 10px;
  background-color: white;
  height: 550px;

  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form{
  display: flex;
  align-items: center;

  flex-wrap: wrap;

  justify-content: center;
  gap: 10px;
}
form input{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 10px;
  width: 40px;
  outline: none;
  border: 1px black solid;
}
